@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'NotoSans';
    src: url(/fonts/NotoSans-VariableFont_wdth\,wght.ttf);
    font-weight: bold;
    font-style: bold;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    font-family: "Montserrat";
}
h1, h2{
font-family: 'Montserrat';
}

ul, li, h3, p{
    font-family: "NotoSans";
}
button, label{
    font-family: "Montserrat";
}
/* Estilo para la barra superior con los logotipos */
.social-bar {
    background-color: #02253d;
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
}

.social-bar .social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

/* Estilo para el header */
header {
    background-color: #365b77;
    color: #fff;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.top-bar .logo {
    font-size: 1.5em;
    font-weight: bold;
    flex: 1;
}

.top-bar nav {
    flex: 1;
    text-align: center;
}

.top-bar nav ul {
    list-style: none;
    display: inline-flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.top-bar nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilo para la barra de navegación y el logo */


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #f1c40f;
    position: relative;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f1c40f;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Estilo para el botón del curso */
.top-bar .btn-curso {
    background-color: #012e46;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: auto; /* Alinea el botón a la derecha */
    font-size: 0.9em; /* Ajusta el tamaño de la fuente */
    width: 120px; /* Ancho fijo más corto */
    text-align: center; /* Centra el texto dentro del botón */
}

.top-bar .btn-curso:hover{
    background-color: #94b8d7;
    color: white;
    transition: all 1s;

}

.hero {
    background-color: #7498b6;
    color: #fff;
    padding: 50px;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.hero-text h1{
    font-size: 40px;
}
.hero-text h2 {
    font-size: 30px;
}

.hero-text h2 {
    color: #000a23;
}

.hero-image img {
    max-width: 100%;
    border: 5px solid #f1c40f;
    border-radius: 10px;
}

.btn-explorar{
    text-decoration: none;
    padding: 10px;
    background-color: #021d34;
    color: white;
    border-radius: 10px;
}

.btn-explorar:hover {
    background-color: #365b77;
    transition: background-color 0.3s, color 0.3s;
}

.tabla-html {
    background-color: #365b77;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}

.tabla-html h2 {
    font-size: 2em;
}

.tabla-html table {
    width: 100%;
    margin: 20px 0;
}

.tabla-html table td {
    padding: 10px;
    border: 1px solid #7498b6;
}

.tabla-html table h3 {
    font-size: 2.5em;
    color: #94b8d7;
}

.tabla-html table p {
    font-size: 1.2em;
}


/* Estilo para la sección de Grid de Imágenes */
.grid-imagenes {
    padding: 40px;
    text-align: center;
    background-color: #02253d;
}

.grid-imagenes h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

.grid-imagenes h2 span {
    color: #94b8d7;
}

.grid-imagenes p {
    color: #aaa;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.grid-item {
    overflow: hidden;
    position: relative;
    height: 200px; 
}

.grid-item.large {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    height: 410px; 
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Botón Ver Tutoriales */
.btn-ver {
    background-color: #557996;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
   
}

.btn-ver:hover {
    background-color: #94b8d7;
    transition: background-color 0.3s, color 0.3s;
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.left {
    background-image: url("robot6.jpg"); 
    background-size: cover;
    background-position: center;
}

.right {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form {
    max-width: 300px;
    width: 100%;
    text-align: left;
}

form h2 {
    font-size: 30px;
    color: #333;
}

form p {
    color: #666;
    margin: 10px 0;
}

.google-btn,
.submit-btn {
    background-color: #021d34;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    margin: 10px 0;
    cursor: pointer;
}

.google-btn:hover,
.submit-btn:hover {
    background-color: #7498b6;
}

.google-btn i {
    margin-right: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input {
    margin-right: 10px;
}

.facebook {
    text-align: center;
    margin-top: 20px;
}

.facebook a {
    color: #1877f2;
    text-decoration: none;
}

.facebook a:hover {
    text-decoration: underline;
}




.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    background-color: #02253d;
    color: #fff;
    padding: 40px 20px;
    gap: 30px; /* Aumentamos el espacio entre las columnas */
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; /* Añadimos espacio entre los elementos dentro de cada columna */
}

.footer-item h3 {
    margin-bottom: 10px;
}

.footer-item p,
.footer-item ul {
    margin-bottom: 20px;
}

.footer-item ul {
    list-style: none;
    padding: 0;
}

.footer-item ul li {
    margin-bottom: 10px;
}

.footer-item ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-item ul li a:hover {
    text-decoration: underline;
}

.social-icons-footer {
    display: flex;
    gap: 10px;
}

.social-icons-footer i {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.social-icons-footer i:hover {
    color: #7498b6;
}


.footer-item.subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-item.subscribe h3 {
    margin-bottom: 10px;
}

.footer-item.subscribe form {
    display: flex;
    align-items: center; /* Centramos verticalmente los elementos */
    width: 100%;
}

.footer-item.subscribe input[type="email"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #d3e775; 
    border-radius: 4px; 
    margin-right: 5px;
}

.footer-item.subscribe button {
    background-color: #153f59;
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px; 
    cursor: pointer;
}

.footer-item.subscribe button:hover {
    background-color: #7498b6;
}
/* Estilo para el botón del menú hamburguesa */
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .social-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .top-bar{
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .top-bar .logo {
        margin-bottom: 10px;
    }

    .top-bar nav {
        width: 100%;
        text-align: left;
        display: none;
    }

    .top-bar .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .top-bar .menu-toggle::after {
        content: '\2630'; 
    }

    .top-bar nav ul.active {
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .hero-grid {
        grid-template-columns: 1fr;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .grid-item{
        height: auto; /* Ajustar la altura automáticamente */
        margin-bottom: 10px; /* Espaciado entre los elementos del grid */
    }

    .grid-item.large {
        grid-column: 1 / 4;
        grid-row: auto;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .left, .right {
        height: auto;
    }

    .footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-item {
        align-items: center;
    }
}